.table-form-styling {
  width: 300px;
  font-size: 17px;
  height: 300px;
  margin: 0 auto;
}
.label-crte-wlt {
  padding-right: 30px;
  font-size: large;
}
.crte-wlt-inp-form {
  width: 400px;
  height: 20px;
  border: none;
  border-bottom: 3px solid #2f333e;
  outline: none;
  padding-left: 4px;
  color: #2f333e;
  font-size: 17px;
}
.crte-wlt-inp-form:focus {
  border-bottom: 3px solid #2f333e;
  transition: 0.3s;
}
.create-wlt-btn-modal {
  border: none;
  border: 1px solid #2f333e;
  color: #2f333e;
  background-color: transparent;
  width: 140px;
  height: 50px;
  font-size: 17px;
}
.create-wlt-btn-modal:hover {
  color: #2f333e;
}
