.table-form-styling {
  width: 300px;
  font-size: 17px;
  height: 300px;
  margin: 0 auto;
}
.label-crte-wlt {
  padding-right: 30px;
  font-size: large;
}
.crte-wlt-inp-form {
  width: 240px;
  height: 50px;
  border: 1px solid rgb(216, 216, 216);
  outline: none;
  padding-left: 4px;
  color: #2f333e;
  font-size: 17px;
}
.crte-wlt-inp-form:focus {
  transition: 0.3s;
}
.create-wlt-btn-modal {
  border: none;
  border: 1px solid rgb(216, 216, 216);
  color: rgb(148, 148, 148);
  background-color: transparent;
  width: 140px;
  height: 50px;
  font-size: 17px;
}
.create-wlt-btn-modal:hover {
  color: #2f333e;
  border: 1px solid #2f333e;
  transition: 0.3s ease-in;

}
