.trans-form {
  height: max-content;
  width: 100%;
  height: 45vh;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.grid-trans-form {
  display: grid;
  grid-gap: 10px;
  align-content: space-between;
  height: 80%
}
.inline-input {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.trans-form-inputs {
  height: 48px;
  background: transparent;
  border: none;
  border: 1px solid gray;
  font-size: 18px;
  padding: 0px 0px 0px 10px;
}
.trans-form-inputs:focus {
  outline: none;
  border: 1px solid #2f333e;
  transition: 0.5s;
}

.trans-form-input-amount {
  width: 300px;
}
.exp-in{
  width: 150px;
  height: 40px;
  border: 1px solid #2f333e;
  font-size: 17px;
  top: 20px;
  z-index: 10;
  background-color: transparent;
}
.exp-in:hover {
  cursor: pointer;
  transition: 0.2s;
}
.exp-in:focus {
  cursor: pointer;
}
.expense:hover {
  border: 1px solid #8916fe;
  color: #8916fe;
}
.expense:focus {
  border: 1px solid #8916fe;
  background-color: #8916fe;
}
.income:hover {
  border: 1px solid #ff7676;
  color: #ff7676;
}
.income:focus {
  border: 1px solid #ff7676;
  background-color: #ff7676;
}

.create-trans-btn{
  justify-self: end;
}