.main {
  background-color: #eef5f9;
}
.fontcolor {
  color: #2f333e;
}
.sidebar {
  background: white;
  width: 20vw;
  z-index: 10;
}
.right-side-column{
  width: 100%;
  height: 100vh;
}
.main-items-right-div-2-sections {
  padding: 20px;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

