.main {
  background-color: #eef5f9;
  min-height: 110vh;
}
.fontcolor {
  color: #2f333e;
}
.right-side-column{
  width: 100%;
}
.main-items-right-div-2-sections {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

