.ourValues-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : 8vh 0;
}
.ourValues-icon{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    width : 80%
}
.ourValues-icon > div{
    margin: 30px;
}
.text-size-resp{
    font-size: 1.5em;
}
@media (max-width : 600px){
    .ourValues-icon{
        display: flex;
        flex-direction: column;
    }
    .ourValues-icon > div{
        margin: 10px;
    }
   
}