.main {
  background-color: #eef5f9;
}
.white {
  color: #2f333e;
}
.sidebar {
  background: white;
  width: 20vw;
  z-index: 10;
}
.right-side-column {
  padding: 60px;
  width: 75%;
  height: 200%;
}
.main-items-right-div {
  margin-left: 300px;
}



