.main {
  height: 200%;
}
.white {
  color: rgba(255, 255, 255, 0.89);
}
.sidebar {
  background: #13224f;
  height: 200%;
  width: 400px;
  z-index: 10;
}
.arrow-card-inline {
  display: flex;
}
.showarrow {
  display: block;
}
.hidearrow {
  display: none;
}
.right-side-column {
  padding: 60px;
  background-color: #091945;
  width: 75%;
  height: 200%;
}
.main-items-right-div {
  margin-left: 300px;
}



