.add-wallet-btn-nomain {
  width: 300px;
  height: 60px;
  font-size: 20px;
  border: none;
  border-radius: 30px;
}

.landing-page-header{
  height: 100vh;
  background-image: url("../../assets/header.png");
  color : white;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding : 0 4%;
}

.landing-page-header-text-h2{
  font-size: 4vw;
  padding-bottom: 15px;
}
.landing-page-body{
  margin-top: 5vh;
}