.navBar {
  height: 65px;
  z-index: 10;
  background-color: #2e3d51;
  color : white;
}
.btn-color {
  width: 150px;
  height: 40px;
  font-size: 17px;
  top: 20px;
  z-index: 10;
  background-color: transparent;
  border: none;
  color : white;
}
.btn-color:hover {
  transition: 0.3s;
}
