.nomain {
  height: 100vh;
  background-image: url("bgnm.png");
  background: cover;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nomain-parent-div {
  margin: 0 auto;
  height: min-content;
}
.u-hv-no-wllt {
  margin-bottom: 60px;
  font-size: 60px;
}
.add-wallet-btn-nomain {
  width: 300px;
  height: 60px;
  font-size: 20px;
  background-color: #ff25c2;
  color: whitesmoke;
  border: none;
  border-radius: 30px;
}
