.trans-list-div-parent {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  width: 700px;
}
.trans-item {
  height: 70px;
  width: 500px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 10px;
  margin: 9px 0px;
  justify-content: space-around;
}
.trans-item-info-container{
  width: 100%;
}
.trans-amount-note-flex{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.trans-amount {
  margin-left: 10px;
  color: #ff7676;
}
