.trans-list-div-parent {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  width: 90%;
  background-color: white;
  height: max-content;
  margin-bottom: 9px;
  border-radius: 20px;
  padding: 5px;
}
