.walletcard {
  margin: 50px 100px;
  height: 130px;
  width: 250px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 25px;
  color: white;
  flex-direction: column;
  justify-content: space-evenly;
}
.walletcard:hover {
  box-shadow: 2px;
}
.walletcard:focus {
  filter: blur(10px);
}
.label-trans-numb {
  align-self: flex-end;
}
.wallet-name {
  text-decoration: none;
  margin-top: 2px;
  font-size: 30px;
  text-shadow: 2px 2px 8px #ffffffa8;
}
.wallet-name:hover {
  text-decoration: none;
}
.icons-card {
  display: flex;
  justify-content: space-around;
}
