.wallet-flex{
  display: flex;
}
.walletcard {
  margin: 20px ;
  height: 10vw;
  width: 18vw;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 25px;
  color: white;
  flex-direction: column;
  justify-content: space-evenly;
}
.walletcard:hover {
  box-shadow: 2px;
}
.label-trans-numb {
  align-self: flex-end;
}
.wallet-name {
  text-decoration: none;
  margin-top: 2px;
  font-size: 30px;
}
.wallet-name:hover {
  text-decoration: none;
}
.icons-card {
  display: flex;
  justify-content: space-around;
}
